                  /* header */
.n ul li {
    display: inline;
    padding: 25px;
}

.n ul {
    background-color: rgb(6, 10, 32);
    padding: 25px;
    margin: auto;    
}
.logo {
    width: 180px;
    height: 75px;
    position: absolute;
    right: 0;   
    border: 1px black solid ;
}
.li:hover {
    background-color: rgb(238, 94, 11);
}
.li {
    text-decoration: none;
    color: aliceblue;
    padding: 20px;
    margin: auto;
    font-size: 22px;    
}



        /* body */

.all {
    padding: 10px;
    width: 600px;
    height: 670px;
    margin: auto;
    border-width: 3px;
    border-color: rgb(151, 150, 150);
    border-style: solid ;
    
}
.r {
    padding: 1px;
    font-size: 40px;
    color: rgb(8, 129, 24);
}
.f {
    height: 20px;
    padding: 4px;
    font-size: 20px;
    background-color: rgba(10, 187, 34, 0.445);
}
.w {
    color: red;
}




.meta {
    width: 210px;
    height: 25px; ;
    background-color: rgba(10, 187, 34, 0.349);
    padding: 10px;    
    text-align: right;
    font-size: 20px;        
}

.check {
    text-align: center;
}
.in {
    width: 288px;
    height: 25px;
}









